<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Love</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="all">
    <div class="header">
        <h1 class="vintage4">有些话只想对你说</h1>
    </div>
    <div class="main">
        <div class="heart">
            <div class='topLeft'></div>
            <div class='topRight'></div>
            <div class='bottom'></div>
        </div>
        <div class="chooseBtn">
            <button type="button" class="yesterday am-btn am-btn-danger am-btn-xl">
                <i class="fa fa-mercury" style="margin-right: 5px"></i>
                往昔
            </button>
            <button type="button" class="today am-btn am-btn-warning am-btn-xl">
                <i class="fa fa-venus" style="margin-right: 5px"></i>
                今日
            </button>
        </div>
    </div>
</div>

<script src="js/index.js"></script>
</body>
</html>