<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>张先森 | 今日</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="css/zoomify.min.css">
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/today.css">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/zoomify.min.js"></script>
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>

    <style>
        body{
            background-image: url(img/love.jpg);
        }
    </style>
</head>
<body>
    <div class="all">
        <div class="head">
            <h1 class="vintage4">今 日</h1>
            <div class="h1Word">
                <p>大风歌豆腐干等方式给对方是个第三方给对方是个的发送个</p>
                <p>大风歌豆腐干等方式给对方是个第三方给对方是个的发送个</p>
            </div>
        </div>
        <div class="main">
            <div class="am-container">
                <div class="me am-u-sm-12 am-u-lg-10">
                    <div class="am-panel am-panel-danger">
                        <div class="sayTitle am-panel-hd">认识你，我用尽了所有的好运</div>
                        <textarea id="iSay" placeholder="每天都有数不尽的话想对你说..."></textarea>
                    </div>
                    <input id="picture" type="file" multiple="multiple" onchange="readAsDataURL()" accept=".gif,.jpg,.jpeg,.png"><a class="am-icon-heart am-icon-sm"> 图片</a>
                    <div class="moods" style="display: inline-block">
                        <i class="happy am-icon-smile-o am-icon-sm"> 开心至极</i><i class="just am-icon-meh-o am-icon-sm"> 不喜不悲</i><i class="bad am-icon-frown-o am-icon-sm"> 伤心透顶</i>
                    </div>
                    <button type="button" class="sendBtn am-btn am-btn-warning am-round">Ｉ Lᵒᵛᵉᵧₒᵤ❤</button>

                    <div class="sayContent">
                        <hr data-am-widget="divider" style="border-top-color: #906f6f" class="am-divider am-divider-dashed" />
                        <div style="text-align: center;color: red">
                            <h1>===== 每天想对你说的话 ❥(^_-) ======</h1>
                            <!--<h1>===== 每一天 ======</h1>-->
                        </div>
                        <div class="says">
                            <div class="time">
                                <h1>2018</h1>
                                <i class="am-icon-heart am-icon-md" style="margin-left: 25px;color: red"></i>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="month">10月</div>
                                </div>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="say am-comment-main">
                                        <div class="todayTime">
                                            <i class="todayTimeNow am-icon-clock-o"></i> 2018-10-20 21:32
                                            <i class="todayMood am-icon-frown-o" style="color: red"></i><span class="todayMoodWord"> 伤心透顶</span>
                                        </div>
                                        <div class="missYou">
                                            单方事故第三个第四个讽德诵功第三方广东省高单方事故地方施工队发送给方事故第三个第四个讽德诵功第三方广东省高单方
                                            事故地方施工队发送给方事故第三个第四个讽德诵功第三方广东省高单方事故地方施工队发送给
                                        </div>
                                        <div class="todayPic">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="say am-comment-main">
                                        <div class="todayTime">
                                            <i class="todayTimeNow am-icon-clock-o"></i> 2018-10-20 21:32
                                            <i class="todayMood am-icon-meh-o" style="color: #666666"></i><span class="todayMoodWord"> 不喜不悲</span>
                                        </div>
                                        <div class="missYou">
                                            单方事故第三个第四个讽德诵功第三方广东省高单方事故地方施工队发送给
                                        </div>
                                        <div class="todayPic">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="month">11月</div>
                                </div>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="say am-comment-main">
                                        <div class="todayTime">
                                            <i class="todayTimeNow am-icon-clock-o"></i> 2018-10-20 21:32
                                            <i class="todayMood am-icon-smile-o" style="color: #ff8f52;"></i><span class="todayMoodWord"> 开心至极</span>
                                        </div>
                                        <div class="missYou">
                                            单方事故第三个第四个讽德诵功第三方广东省高单方事故地方施工队发送给
                                        </div>
                                        <div class="todayPic">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="time">
                                <h1>2017</h1>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="month">12月</div>
                                </div>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="say am-comment-main">
                                        <div class="todayTime">
                                            <i class="todayTimeNow am-icon-clock-o"></i> 2018-10-20 21:32
                                            <i class="todayMood am-icon-frown-o" style="color: red"></i><span class="todayMoodWord"> 伤心透顶</span>
                                        </div>
                                        <div class="missYou">
                                            单方事故第三个第四个讽德诵功第三方广东省高单方事故地方施工队发送给方事故第三个第四个讽德诵功第三方广东省高单方
                                            事故地方施工队发送给方事故第三个第四个讽德诵功第三方广东省高单方事故地方施工队发送给
                                        </div>
                                        <div class="todayPic">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/zhy.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="lookMore am-btn am-btn-default am-radius">想说的话可不止这些哦</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="footerIcon">
                © 2018 <a href="http://www.miitbeian.gov.cn" target="_blank">蜀ICP备18000229号-2</a> <i class="am-icon-coffee" style="margin: 0 5px"></i>张海洋
            </div>
        </div>
    </div>

    <script src="js/heart.js"></script>
    <script src="js/today.js"></script>
</body>
</html>