<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>张先森 | 今日</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <link rel="stylesheet" href="css/today.css">

    <style>
        body{
            background-image: url(img/love.jpg);
        }
    </style>
</head>
<body>
    <div class="all">
        <div class="head">
            <h1 class="vintage4">今 日</h1>
            <div class="h1Word">
                <p>大风歌豆腐干等方式给对方是个第三方给对方是个的发送个</p>
                <p>大风歌豆腐干等方式给对方是个第三方给对方是个的发送个</p>
            </div>
        </div>
        <div class="main">
            <div class="am-container">
                <div class="me am-u-sm-12 am-u-lg-10">
                    <div class="am-panel am-panel-danger">
                        <div class="sayTitle am-panel-hd">认识你，我用尽了所有的好运</div>
                        <textarea id="iSay" placeholder="每天都有数不尽的话想对你说..."></textarea>
                    </div>
                    <input id="picture" type="file" accept=".gif,.jpg,.jpeg,.png"><a class="am-icon-heart am-icon-sm"> 图片</a>
                    <button type="button" class="sendBtn am-btn am-btn-warning am-round">Ｉ Lᵒᵛᵉᵧₒᵤ❤</button>

                    <div class="sayContent">
                        <hr data-am-widget="divider" style="border-top-color: #906f6f" class="am-divider am-divider-dashed" />
                        <div style="text-align: center;color: red">
                            <h1>===== 每天想对你说的话 ❥(^_-) ======</h1>
                        </div>
                        <div class="says">
                            <div class="time">
                                <h1>2018</h1>
                            </div>
                            <div class="timeline-wrap">
                                <div class="timeline-row-major">
                                    <span class="node"></span>
                                    <div class="say am-comment-main">
                                        <div class="todayTime">
                                            10/20 21:32
                                        </div>
                                        <div class="missYou">
                                            单方事故第三个第四个讽德诵功第三方广东省高单方事故地方施工队发送给
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>